@using PixelDrift.Models

@model PixelDrift.Models.User_login

@{
    ViewBag.Title = "DashboardUser";
}



@{
    var data = TempData["UserId"];
}


<h3> Welcome @data to Pixel Drift</h3>


<div class="row row-no-gutters">
    @using (Html.BeginForm("Upload", "Home"))
    {
        <div class="form-group">
            <div class="col-sm-4">
                <button type="submit" class="btn btn-default">Add Photos</button>
            </div>
        </div>
    }
</div>

<div class="row">
    @using (Html.BeginForm("Delete", "Home"))
    {
        <div class="form-group">
            <div class="col-sm-4">
                <button type="submit" class="btn btn-default">Remove Photos</button>
            </div>
        </div>
    }

</div>




<div class="row">
    @using (Html.BeginForm("ShareName", "Home"))
    {
        <div class="form-group">
            <div class="col-sm-4">
                <button type="submit" class="btn btn-default">Share Photos</button>
            </div>
        </div>
    }
    </div>



<div class="row">
    @using (Html.BeginForm("ViewImage", "Home"))
        {
    <div class="form-group">
        <div class="col-sm-4">
            <button type="submit" class="btn btn-default">View Photos</button>
        </div>
    </div>
    }
</div>

<div class="row">
    @using (Html.BeginForm("DownloadImage", "Home"))
    {
        <div class="form-group">
            <div class="col-sm-4">
                <button type="submit" class="btn btn-default">Download Photos</button>
            </div>
        </div>
    }
</div>



<div class="row">
    @using (Html.BeginForm("LogOut", "Home"))
    {
        <div class="form-group">
            <div class="col-sm-4">
                <button type="submit" class="btn btn-default">Log Out</button>
            </div>
        </div>
    }
</div>
