@using PixelDrift.Models

@model PixelDrift.Models.User_login

@{
    ViewBag.Title = "DashboardUser";
}



@{
    var data = ViewData["UserId"];
}


<h3> Welcome @data to Pixel Drift</h3>


<div class="row row-no-gutters">
    @using (Html.BeginForm("Upload", "Home"))
    {
        <div class="form-group">
            <div class="col-sm-4">
                <button type="submit" class="btn btn-default">Add Files</button>
            </div>
        </div>
    }
    </div>
<br />
    <div class="row">
        <div class="form-group">
            <div class="col-sm-4">
                <button type="submit" class="btn btn-default">Remove Files</button>
            </div>
        </div>

    </div>
    <div class="row">
        @using (Html.BeginForm("LogOut", "Home"))
        {
            <div class="form-group">
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-default">Log Out</button>
                </div>
            </div>
        }
    </div>
