
@{
    ViewBag.Title = "DownloadImage";
}

<h2>DownloadImage</h2>



<ul style="list-style-type:none;padding:0;">

    @foreach (var item in Model)
    {
        //if (@Model != null)
        <li>
            <img src="@item" alt="ïmage" width="100" height="100" />
            <a id="@item" href="#" onclick="deleteImage('@item');">Download</a>

        </li>

    }

</ul>

<script>
        function deleteImage
            (item) {
            var url = "/Home/Download";
            $.post(url, { Name: item }, function (data) {
                window.location.href = "/Home/DownloadImage";
                alert(data);
            });
        }
</script>




