
@{
    ViewBag.Title = "Share";
}

@*<h2>Upload Images</h2>
    <p>
        @using (Html.BeginForm("Share", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file" name="image" />
            <input type="submit" name="upload" />

        }
    </p>*@

<br />
<br />

<ul style="list-style-type:none;padding:0;">

    @foreach (var item in Model)
    {
        //if (@Model != null)
        <li>
            <img src="@item" alt="ïmage" width="100" height="100" />
            <a id="@item" href="#" onclick="ShareImage('@item');">Share</a>

        </li>

    }

</ul>


@*<div class="row">
    @using (Html.BeginForm("LogOut", "Home"))
    {
        <div class="form-group">
            <div class="col-sm-4">
                <button type="submit" class="btn btn-default" >Log Out</button>
            </div>
        </div>
    }

</div>*@

<br />

<div class="form-group">
    <div class="col-sm-4">
        <button type="submit" class="btn btn-default" onClick="history.go(-2); return false;">Home</button>
    </div>
</div>

<script>
    function ShareImage
        (item) {
        var url = "/Home/ShareImage";
        $.post(url, { Name: item }, function (data) {
            window.location.href = "/Home/Share";
            alert(data);
        });
    }
</script>



