
@{
    ViewBag.Title = "ViewImage";
}

<h2>View File Page</h2>


<ul style="list-style-type:none;padding:0;">

    @foreach (var item in Model)
    {
        //if (@Model != null)
        <li>
            <img src="@item" alt="ïmage" width="100" height="100" />
          @*  <a id="@item" href="#" onclick="deleteImage('@item');">Delete</a>*@

        </li>

    }

</ul>

<div class="row">
    @using (Html.BeginForm("LogOut", "Home"))
    {
        <div class="form-group">
            <div class="col-sm-4">
                <button type="submit" class="btn btn-default">Log Out</button>
            </div>
        </div>
    }

</div>

<script>
        function deleteImage
            (item) {
            var url = "/Home/DeleteImage";
            $.post(url, { Name: item }, function (data) {
                window.location.href = "/Home/Delete";
                alert(data);
            });
        }
</script>

